# Arithmetic operators

# + (addiion)
# - (subtraction)
# * (multiplication)
# /  (division)
# % (modulous)
# // (floor division)
# ** (power/exponent operator)

In [2]:
a=10
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

12
8
20
5.0
0
5
100

In [3]:
print(10//2)

5

In [4]:
print(10.0//2)

5.0

In [5]:
print(10**2)

100

In [6]:
print(10.0**2)

100.0

# some examples on operators

In [7]:
print('10'+ '20')
print(10+20)

1020
30

In [9]:
print('10'+20)

TypeError: can only concatenate str (not "int") to str

In [8]:
print(10*2)

20

In [10]:
print('10'*2)

1010

In [12]:
print('10'*'2')

TypeError: can't multiply sequence by non-int of type 'str'

In [13]:
print(2*'20'+'20')

202020

# Relational operator

# < (less then)
# <= (less then equal to)
# > (greater then)
# >= (greater then equal to)

In [14]:
10<20

True

In [15]:
10<=20

True

In [16]:
10>=20

False

# we can apply relational operator on string data also

In [1]:
ord('a')

97

In [2]:
ord('A')

65

In [4]:
# according to ASCII values of alphabet
'ved'>'vevi'

False

In [18]:
True<False     #1<0

False

In [19]:
True>False

True

In [24]:
'c'>10

TypeError: '>' not supported between instances of 'str' and 'int'

In [25]:
'abc'>10

TypeError: '>' not supported between instances of 'str' and 'int'

In [26]:
10<20<30

True

In [27]:
# all condition should be true then it will give true otherwise false
10<20<30<40>50

False

In [28]:
# to check ASCII value we have one function
print(ord('a'))
print(ord('A'))

97
65

In [29]:
# if we want check charcter on int value we have one function
chr(97)

'a'

# Equality operator

# == (equal to)(content comparison operator)
# !=  (not equal to) (content comparision operator)
# is    (is operator) (adress comparision operator)
# is not    (is not)  (adress comparision operator)

In [30]:
print(10==20)
print(10==10)
print(10=='ved')
print('ved'=='ved')

False
True
False
True

In [5]:
l=['a','b','c','d']
k=['a','b','c','d']
print(l!=k)
print(l ==k)

False
True

In [6]:
print(id(l))
print(id(k))

2524669901960
2524669902344

In [40]:
print(l is k)
print(l is not k)

False
True

In [41]:
m=[1,2,3,4,5]
n=[1,2,3,4,5]
m=n
print(m!=n)
print(m==n)

False
True

In [42]:
print(m is n)
print(m is not n)

True
False

# logical operator

# and (both condition true then o/p true)
# OR (if any condition is true o/p is true)

# NOT (compliment just opposite)

In [43]:
print(10==10 and 20!=20)

False

In [44]:
print(10==10 or 20!=20)

True

In [45]:
print(not 10==10)

False

# example on logical operator

In [ ]:
name=input('enter usename')
password=input('enter password')
if name=='ved' and password=='dev':
    print('valid user')
else:
    print('invalid user')

# boolean expression
# 0(zero)- it treated as False
# non-zero value treated as True

In [47]:
print(not 0)

True

In [48]:
print(not 10)

False

# empty string teated as False
# non empty string treated as True

In [49]:
print(not'')

True

In [50]:
print(not'  ')

False

In [51]:
print(not'ved')

False

# membership operator

# in 
# not in

In [52]:
print('v' in 'ved')

True

In [53]:
print('z' in 'ved')

False

In [55]:
l=['apple','mango','banana']
print('apple' in l)
print('orange' in l)

True
False

In [ ]:
#what is the output of below code with valid reason.
print('a' in l)

In [64]:
d={1:'a',2:'b',3:'c',4:'d'}
if a in d:
    print('available')
else:
    print('not available')
# coz this one always check key of dictionary not value of dictionary.

not available

In [ ]:
for i in range(0,5):
    print(i,'hello')