### Data types

- majorly there are 14 data types

In [ ]:
(1) Integer --- int
(2) floating --- float
(3) string ------- str
(4) complex ------- complex
(5) boolean  ---------- bool
(6) None ----------- None
(7) list ----------- list
(8) tuple ---------- tuple
(9) dictionary ------ dict
(10) set ---------- set
(11) range-------- range

(12) frozenset
(13) bytes
(14) bytearray

### Integer

In [ ]:
- infinity to +infinity
-infinity,-100 ,-99,-97 ........... 0 97,98,99,100  +infinity

In [12]:
a = -1000
print(a)

-1000

In [13]:
print(type(a))

<class 'int'>

## Floating

In [ ]:
- infinity.infinity to +infinity.infinity
-infinity,-100.02 ,-99,-97 ........... 0 97,98,99,100  +infinity

In [16]:
b = -2.3
print(b)

-2.3

In [17]:
print(type(b))

<class 'float'>

## String

In [20]:
s = "hello"
print(s)

hello

In [21]:
print(type(s))

<class 'str'>

In [24]:
m = '''hello how are
you'''
print(m)

hello how are
you

### Complex

- it is combinations of real and imaginary numbers

In [26]:
c = 2+3j
print(c)

(2+3j)

In [27]:
print(type(c))

<class 'complex'>

In [28]:
print(c.real)

2.0

In [29]:
print(c.imag)

3.0

### boolean

- It always understand 0 or 1

- True --------- 1
- False ---------- 0

In [30]:
a = True
print(a)

True

In [31]:
print(type(a))

<class 'bool'>

In [32]:
True+True

2

In [33]:
False+False

0

In [41]:
bool(0.0)

False

### None

In [42]:
a = None
print(a)

None

In [43]:
print(type(a))

<class 'NoneType'>

### list

- It is a hetrogenous combination of data with mutable in nature

In [44]:
a = []
print(type(a))

<class 'list'>

In [45]:
a = list()
print(type(a))

<class 'list'>

In [46]:
a = [1,2.3,True,None,2+3j,2.3,1,"hello",[1,2,3]]
print(a)

[1, 2.3, True, None, (2+3j), 2.3, 1, 'hello', [1, 2, 3]]

In [47]:
a.remove(None)

In [48]:
print(a)

[1, 2.3, True, (2+3j), 2.3, 1, 'hello', [1, 2, 3]]

### Tuple

- It is a hetrogenous and immutable data type

In [49]:
a = ()
print(type(a))

<class 'tuple'>

In [50]:
a = tuple()
print(type(a))

<class 'tuple'>

In [51]:
a = 1,2,3
print(type(a))

<class 'tuple'>

In [53]:
a = 1,
print(type(a))

<class 'tuple'>

In [56]:
a = (1,2.3,True,2+3j,1,(3,7),"hello")
print(a)

(1, 2.3, True, (2+3j), 1, (3, 7), 'hello')

In [57]:
a.remove(2.3)

AttributeError: 'tuple' object has no attribute 'remove'

### dictionary

- It is a key value pair data type with mutable in nature in which key cannot be duplicate

In [59]:
a = {}
print(type(a))

<class 'dict'>

In [60]:
a = {"a":10,"b":20,"c":30}
print(a)

{'a': 10, 'b': 20, 'c': 30}

In [61]:
a = {1:10,2:20,3:30}
print(a)

{1: 10, 2: 20, 3: 30}

In [63]:
del a[1]

In [64]:
print(a)

{2: 20, 3: 30}

In [67]:
d = {1:30,2:30}
print(d)

{1: 30, 2: 30}

### set

- it is mutable with unorderd data type

In [68]:
s = set()
print(type(s))

<class 'set'>

In [72]:
s = {1,2,3,4,5}
print(type(s))

<class 'set'>

In [84]:
s = {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [94]:
s.remove(2)

In [95]:
print(s)

{1, 3, 4, 5}

### Range
- it is a iterable data type of some integer values

In [107]:
a = range(1,10,1)
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
a = range(0,10,1)
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
a = range(10,4,-1)
list(a)

[10, 9, 8, 7, 6, 5]

In [125]:
a = -2 + -3.2j
print(a)

(-2-3.2j)

In [126]:
a.imag

-3.2

In [111]:
l = []
l = list()
print(l)

[]

In [112]:
print(type(l))

<class 'list'>

In [114]:
l = [10,20,30,40,"hello",2+3j,10]
print(l)

[10, 20, 30, 40, 'hello', (2+3j), 10]

In [116]:
s1 = 'ved'
s2 = 'dev'
print(s1+" "+s2)

ved dev

In [128]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [129]:
c = 2j+3
print(c.imag)

2.0

## String

In [138]:
s = 'hello world'
#indexing
print(s[-4])

o

In [151]:
##slicing
print(s[7:0:-1])

ow olle

In [152]:
print(list(range(10,1,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [155]:
s = 'hello world'
s.find('l',4,10)

9

In [156]:
s.capitalize()

'Hello world'

In [157]:
print(s)

hello world

In [160]:
s.count('o',4,14)

2

In [163]:
s.startswith('e',1,13)

True

In [169]:
s.endswith('l',0,10)

True

In [170]:
s.isalnum()

False

In [171]:
s1 = "hello123"
s1.isalnum()

True

In [173]:
s2 = "hello"
s2.isalpha()

True

In [174]:
s.isspace()

False

In [176]:
s3 = " "
s3.isspace()

True

In [181]:
s4 = "1234"
s4.isdigit()

True

In [186]:
s4 = "1234"
s4.isnumeric()

True

In [187]:
s.islower()

True

In [188]:
print(s)

hello world

In [193]:
s5 = "hello world"
s5.islower()

True

In [197]:
s = 'heLLo woRld'
print(s)

heLLo woRld

In [198]:
s.lower()

'hello world'

In [199]:
s.upper()

'HELLO WORLD'

In [200]:
s.title()

'Hello World'

In [201]:
s.capitalize()

'Hello world'

In [202]:
print(s)

heLLo woRld

In [204]:
s.istitle()

False

In [205]:
print(s)

heLLo woRld

In [215]:
s = "hello how"
s.rfind('h')

6

In [216]:
s.find('h')

0

In [217]:
s.replace('h','H')

'Hello How'

In [219]:
s = "hello how "
print(s)

hello how

In [220]:
print(s.strip())

hello how

In [221]:
s = "#hello how#"
s.strip("#")

'hello how'

In [222]:
s.rstrip("#")

'#hello how'

In [223]:
s.lstrip("#")

'hello how#'

In [224]:
s.swapcase()

'#HELLO HOW#'

In [225]:
s.split()

['#hello', 'how#']

In [227]:
s = "hello, i have, idli,dosa,sambhar"
s.split(",")

['hello', ' i have', ' idli', 'dosa', 'sambhar']

In [228]:
s.rsplit()

['hello,', 'i', 'have,', 'idli,dosa,sambhar']

## List

In [244]:
l = list()
l = []
print(l)

[]

In [230]:
print(len(l))

0

In [231]:
print(type(l))

<class 'list'>

In [245]:
l.append(10)
print(l)

[10]

In [246]:
l.append(20)
l.append('ved')
l.append(10)
l.append(None)
l.append(2+3j)
l.append(2.3)
l.append(True)
print(l)

[10, 20, 'ved', 10, None, (2+3j), 2.3, True]

In [247]:
print(l[-7])

20

In [248]:
print(l[1:20:1])

[20, 'ved', 10, None, (2+3j), 2.3, True]

In [249]:
print(l)

[10, 20, 'ved', 10, None, (2+3j), 2.3, True]

In [250]:
l.remove(10)
print(l)

[20, 'ved', 10, None, (2+3j), 2.3, True]

In [251]:
l.count(20)

1

In [252]:
l.index('ved')

1

In [253]:
l[-1]=False
print(l)

[20, 'ved', 10, None, (2+3j), 2.3, False]

In [254]:
l[2]=999
print(l)

[20, 'ved', 999, None, (2+3j), 2.3, False]

In [255]:
l.insert(2,777)
print(l)

[20, 'ved', 777, 999, None, (2+3j), 2.3, False]

In [256]:
l.reverse()

In [257]:
l

[False, 2.3, (2+3j), None, 999, 777, 'ved', 20]

In [258]:
l.sort()

TypeError: '<' not supported between instances of 'complex' and 'float'

In [259]:
l = [10,11,13,8,-9,77,200]
l.sort()
print(l)

[-9, 8, 10, 11, 13, 77, 200]

In [260]:
l = [10,11,13,8,-9,77,200]
l.sort(reverse=True)
print(l)

[200, 77, 13, 11, 10, 8, -9]

In [267]:
l = ["a",'d',"m","c"]
l.sort(reverse=True)
print(l)

['m', 'd', 'c', 'a']

In [265]:
ord("A")

65

In [266]:
ord("Z")

90

In [268]:
sorted(l)

['a', 'c', 'd', 'm']

In [269]:
l = [10,11,-4,7,19]
sorted(l)

[-4, 7, 10, 11, 19]

In [270]:
print(l)

[10, 11, -4, 7, 19]

In [271]:
l.sort()

In [272]:
print(l)

[-4, 7, 10, 11, 19]

In [273]:
l.pop()

19

In [274]:
print(l)

[-4, 7, 10, 11]

In [275]:
l.pop(2)

10

In [276]:
print(l)

[-4, 7, 11]

In [277]:
l = [10,11,-4,7,19]
k = l.remove(-4)
print(k)

None

In [278]:
print(l)

[10, 11, 7, 19]

In [279]:
l = [10,11,-4,7,19]
k = l.pop(2)
print(k)

-4

In [280]:
print(l)

[10, 11, 7, 19]

In [281]:
l1 = [10,20,30,40]
l2 = [100,200,300,400]
l1.extend(l2)

In [282]:
print(l1)

[10, 20, 30, 40, 100, 200, 300, 400]

In [283]:
print(l2)

[100, 200, 300, 400]

In [284]:
l1.clear()
print(l1)

[]

In [285]:
del l1

In [286]:
print(l1)

NameError: name 'l1' is not defined

In [287]:
l3 = l2.copy()
print(l3)

[100, 200, 300, 400]

In [288]:
l1 = [10,20,30,40]
l2 = [100,200,300,400]

In [289]:
print(l1+l2)

[10, 20, 30, 40, 100, 200, 300, 400]

In [291]:
print(l1*3)

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

## Tuples

In [294]:
#immutable
t = ()
t = tuple()
t = (1,2,3)
t = 1,2,3
t = 1,2,3,
t = 1,
print(type(t))

<class 'tuple'>

In [296]:
t = (10,20,30,40,10)
t.count(10)

2

In [297]:
t.index(20)

1

In [298]:
t[2]

30

In [299]:
t[2:8]

(30, 40, 10)

In [300]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [301]:
sorted(t)

[10, 10, 20, 30, 40]

In [302]:
t1 = (1,2,3)
t2 = (10,22,33)
t1+t2

(1, 2, 3, 10, 22, 33)

In [304]:
t1+t2

(1, 2, 3, 10, 22, 33)

In [305]:
t1*2

(1, 2, 3, 1, 2, 3)

In [307]:
a,b,c = t1
print(a)

1

In [308]:
print(b)

2

In [309]:
print(c)

3

## Dictionary

In [310]:
#mutable
d = {}
d = dict()
print(type(d))

<class 'dict'>

In [311]:
#d[key]=value
d['a']=10
print(d)

{'a': 10}

In [312]:
d['b'] = 100
d['c'] = 777
d['m'] = 999
print(d)

{'a': 10, 'b': 100, 'c': 777, 'm': 999}

In [313]:
print(d['a'])

10

In [314]:
print(d['m'])

999

In [315]:
print(d['g'])

KeyError: 'g'

In [316]:
print(d.get('g'))

None

In [317]:
print(d.get('m'))

999

In [318]:
print(d.get('g','no such key'))

no such key

In [319]:
d.items()

dict_items([('a', 10), ('b', 100), ('c', 777), ('m', 999)])

In [320]:
d.keys()

dict_keys(['a', 'b', 'c', 'm'])

In [321]:
d.values()

dict_values([10, 100, 777, 999])

In [323]:
d.pop('m')

999

In [324]:
print(d)

{'a': 10, 'b': 100, 'c': 777}

In [325]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [327]:
d.popitem()

('c', 777)

In [328]:
print(d)

{'a': 10, 'b': 100}

In [329]:
d.setdefault('b')

100

In [330]:
d.setdefault('m',999)
print(d)

{'a': 10, 'b': 100, 'm': 999}

In [333]:
d1 = {'m':100}
d.update(d1)

In [334]:
print(d)

{'a': 10, 'b': 100, 'm': 100, 'k': 100}